<% @page_title = "About" %>

<center><h1>About English Rakugo</h1></center>



    <div class="img-responsive top-image jumbotron">
      <div id="test">
        <h1>this is test</h1>
      </div>
    </div>




<%= link_to "Back", :back %>
