<h1>English Rakugo</h1>

<% @events.each do |event| %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to event.title, event_path(event) %>
  </div>
    
  <div class="panel-body">
      <p><%= event.text %></p>
    
  </div>
</div>

<% end %>