<h1>English Rakugo</h1>

<% @events.each do |event| %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= event.title %>
  </div>
    
  <div class="panel-body">
      <p><%= event.text %>
      <br>
    
  </div>
</div>

<% end %>