<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <div id="inquiry" class="inquiry-header">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Thank you!
    </div>
    <div class="card card-show-container">
        <div class="text-center">
            <p>Thank you for contacting us. We value your comments.</p>
        </div>
    </div>
  </div>
</div>