<% @page_title = 'Colum' %>

<div class="inquiry-header">Edit Columns</div>       
       
<div class='row'>
  <div class='col-sm-offset-2 col-sm-8'>
    <div class="timetable-back">

   <%= render 'form' %>

         <%= link_to "Back", :back %>

    </div>
  </div>
</div>
  