<% @page_title = 'dashboard' %>

<div class="row">
  <div class='col-sm-offset-1 col-sm-10'>
      <div class="page-header" style="margin-top:-30px;padding-bottom:0px;">
        <div class="inquiry-header"><%= @page_title %></div>
      </div>
    <div class="event-back">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><%= link_to 'Dashboard', admin_dashboard_path, class: "glyphicon glyphicon-th" %></li>
          <li role="presentation"><%= link_to 'Events', admin_events_path, class: "glyphicon glyphicon-flag" %></li>
          <li role="presentation"><%= link_to 'Users', admin_users_path, class: "glyphicon glyphicon-list-alt" %></li>
        </ul>


        
    </div>
  </div>
</div>