<% @page_title = 'dashboard' %>

  <div class="row">
    <aside class="col-md-2">
        <h2><%= @page_title %></h2>
        <div class="panel panel-default">
            <div class="panel-heading">
              <h1><%= current_user.name %></h1>  
            </div>
            <div class="panel-body">
                  <ul>
                    <li><%= link_to 'Events', "#", class: "glyphicon glyphicon-flag" %></li></br>
                    <li><%= link_to 'Users', "#", class: "glyphicon glyphicon-list-alt" %></li>
                  </ul> 
            </div>
        </div>
    </aside>
  </div>