<% @page_title = 'dashboard' %>

  <div class="row">

    <%= render 'admin/sidemenu' %>

    <div class="col-md-10">
      <div class="page-header" style="margin-top:-30px;padding-bottom:0px;">
          <h1><%= @page_title %></h1>
      </div>
    </div>
  </div>