<%  @page_title = "Account" %>

<center><h1><%= @page_title %></h1></center>

<div class="row">
  <div class="container">
   　  <table class="table">

        <tr>
          <th>user name</th>
            <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th>my event</th>
        </tr>
  
　　  </table>
  </div>

    <%= link_to 'Edit User', edit_user_registration_path %>

  
</div>