<span id="booking_form-<%= event.id %>">
    <% if event.date.present? && event.date <= Time.now %>
        <button type="button" class="btn btn-closed">closed</button>
    <% elsif event.capacity == event.booking_users.count %>
        <button type="button" class="btn btn-fullbook">full booking now</button>
    <% elsif event.booking?(current_user) %>
        <%= link_to "unbooking", event_bookings_path(event), method: :delete, data: { confirm: 'Will you really cancel this event？' }, class: "btn btn-unbooking" %>
    <% else %>
        <%= link_to "to booking", ticket_event_path(event), class: "btn btn-booking" %>
    <% end %>
</span>