<% @page_title = "Edit" %>

<div class="inquiry-header">Edit Organizer</div>

<div class='row'>
  <div class='col-sm-offset-3 col-sm-6'>
    <div class="card card-show-container">
        
        <%= form_for(@introduction) do |form| %>
            
            <%= render 'form', form: form %>
                        
            <div class="text-center"><%= form.submit 'Update', class: "btn btn-compbooking" %></div>
        <% end %>
        
      <div><%= link_to "Back", :back %></div>
    </div><!-- card card-show-container -->
  </div>
</div>