@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  padding-top: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h4 {
  color: #535353;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
header, nav, ul, li {
  display: inline;
  margin: 0;
  padding: 0;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

li.dropdown > a > img.img-circle_h {
  margin-top: -5px;
}

/* top */
.white-msg {
    font-size: 2.5em;
    padding: 20px 0;
    text-align: center;
    letter-spacing: 0.15em;
    color: #fff;
    text-shadow: 1px 1px 0px #808080;
}

.title-text {
  font-size: 1.5em;
  text-align: center;
  color: #535353;
  margin-bottom: 30px;
}

.top-head {
 text-align: center;
 font-size: 3em;
}

.trim {
  overflow: hidden;
  width: 640px;
  height: 380px;
  position: relative;
img {
  width: 100%;
  height: auto;
  }
}

.wrap {
  background-color: #FFFFFF;
  height: 400px;
  padding: 10px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.event-text {           /* 行数管理 */
 font-family: "myriad-pro",sans-serif;
 color: #808080;
 font-style: normal;
 font-weight: 100;
 margin-bottom: 7px;
 overflow : hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 9; 
}

.user_avatars div {
  position: relative;
  display: inline-block;
}

.arrow_box {
  margin: 15px 0 0 2px;
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 20px;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

span:hover + p.arrow_box {
  display: block;
  z-index: 1;
}

.gravatar {
  z-index: 0;
}

/* event */
.event-image {
  text-align: center;
  .event-present-image {
    width: 800px;
    height: 500px;
    overflow: hidden;
  }
}

#post_post_img {
  border-style: none;
  width: auto;
}

.eimg-thumbnail {
  width: 520px;
  height: 300px;
  overflow: hidden;
    background-position: center center;
    padding: 0;
}

.event-present-image {
  width: 520px;
  height: 300px;
  overflow: hidden;
  background-position: center center;
}

/* footer */
footer {
  position: absolute;
  margin-top: 45px;
  padding-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #999;
}
  
.footer-left {
  float: left;
  padding: 15px;
  margin-bottom: 50px;
  }

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
  padding: 15px;
  margin-bottom: 50px;
}

/* mixins */
 
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
 
/* forms */
 
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}
 
input {
  height: auto !important;
}

/* profile */

.img-circle {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    width:  200px;
    height: 200px;
    background-position: center center;
    margin-bottom: 15px;
}

.img-circle_h {
    border-radius: 50%;
    width:  25px;
    height: 25px;
    background-position: center center;
}

.profile-present-avatar {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    width:  200px;
    height: 200px;
    background-position: center center;
}

.img-thumbnail {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    width:  200px;
    height: 200px;
    background-position: center center;
    padding: 0;
}

/* about_us*/
.jumbotron {
  position: relative;
  height: 100vh;
  background: url("github.jpg") center center;
  background-size: cover;
}

.outline {
  margin-bottom: 100px;
  th {
    width: 200px
  }
}

.inquiry-header {
  text-align: center;
  font-size: 40px;
  margin: 5px;
}

span.glyphicon-envelope {
  top: 5px;
}

.text-code {
  /*width: 400px*/
}

.area-code {
  height: 100px !important;
}

.actions {
 text-align: center;
}

/* dashboard */
aside {
  margin-top: 60px;
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  .panel-heading {
    padding: 3px;
  }
  h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 1.8em;
    text-align: center;
    letter-spacing: 3px;
    margin: 0px;
  }
  .glyphicon {
    font-size: 1em;
    letter-spacing: 2px;
    margin: 8px;
  }
}

.btn-right {
  color: #FFFFFF;
  text-align: right;
  padding: 10px;
}

/* sign in */
.btn-twitter:hover{color:#FFB6C1;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}

a.link-social {               /* 不要な線を消す */
    text-decoration: none;
}

.btn-facebook:hover{color:#FFB6C1;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
