@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* universal */ 
body {
  padding-top: 0;
}

#wrap{
 position: relative;
 height:auto !important;
 height: 100%; 
 min-height: 100%;
}
#content{
  padding-bottom: 200px;  /*必要に応じて調節。小さくするとフッターとコンテンツの幅も小さくなる*/
}

a:hover { color: #FA8072; text-decoration: none; }

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h4 {
  color: #535353;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
header, nav, ul, li {
  margin: 0;
  padding: 0;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

li.dropdown > a > img.img-circle_h {
  margin-top: -5px;
}

/* footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 25px;
  background-color: #666666;
}
  
.footer-left {
  float: left;
  font-size: 1.5em;
  padding: 12px;
  margin-bottom: 50px;
}

.powered_by {
  font-size: 1em;
  text-align: center;
  padding-bottom: 50px;
}

footer a {
  color: #F4F4F4;
}

footer a:hover {
  color: #FA8072;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
  padding: 15px;
  margin-bottom: 50px;
}

@media only screen and (max-device-width: 640px) {
 .footer-left {
   margin-left: 30px;
  float: left;
  font-size: 1.5em;
  margin-bottom: 50px;
}
footer ul {
  margin-left: 15px;
  float: left;
  list-style: none;
}
footer ul li {
  margin-left: 15px;
  float: left;
  margin-bottom: 50px;
}
}

/* mixins */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
 
/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}
 
input {
  height: auto !important;
}

/* profile */
.img-circle {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    width:  200px;
    height: 200px;
    background-position: center center;
    margin-bottom: 15px;
}

.img-circle_h {
    border-radius: 50%;
    width:  25px;
    height: 25px;
    background-position: center center;
}

.profile-present-avatar {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    width:  200px;
    height: 200px;
    background-position: center center;
}

.img-thumbnail {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    width:  200px;
    height: 200px;
    background-position: center center;
    padding: 0;
}

/* about_us*/
.jumbotron {
  position: relative;
  height: 100vh;
  background: image-url("github.jpg") center center;
  background-size: cover;
}

.outline {
  margin-bottom: 100px;
  th {
    width: 200px
  }
}

.inquiry-header {
  color:#666666;
  text-align: center;
  font-size: 40px;
  margin: 5px;
}

span.glyphicon-envelope {
  top: 5px;
}

.text-code {
  /*width: 400px*/
}

.area-code {
  height: 100px !important;
}

.actions {
 text-align: center;
}

/* dashboard */
aside {
  margin-top: 60px;
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  .panel-heading {
    padding: 3px;
  }
  h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 1.8em;
    text-align: center;
    letter-spacing: 3px;
    margin: 0px;
  }
  .glyphicon {
    font-size: 1em;
    letter-spacing: 2px;
    margin: 8px;
  }
}

/* timetable */
.timetable-back {
  padding: 20px;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.table-bordered > tbody > tr > th.hidden1 {
  border-style: hidden hidden hidden none;
}

.table-bordered > tbody > tr > th.hidden2 {
  border-style: hidden;
}

.back {
margin: 20px;
}

.test li {
margin-left: 20px;
}

.blank {
  text-align: right;
  margin: 0;
}
.glyphicon-star {
  color: #f97c7c;
  top: 2px;
}

#user_agreement{
  width: 10px;
  margin-bottom: 10px;
}

.alert {
  padding-left: 30px;
}

@media screen and (max-width: 640px) {
body {
  padding-bottom: 70px;
  padding-top: 50px;

}
}