.field_with_errors {
  .form-control {
  display: inline-block;
  border: 1px solid #f00;
  width: 100%;
  margin: 0;
  }
}

.alert {
    margin: 20px;
    opacity: 0.8;
}

button {
    margin: 4px;
}

.alert-success {
    opacity: 0.8;
}

.alert > p, .alert > ul {
    text-align: center;
}

 .container p {
    font-size: 1.6em;
    font-weight: 300;
}