/* event */
.event-back {
  padding: 30px;
  margin-bottom: 50px;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.event-image .event-show-image {
  margin: 0 auto;
  border-radius: 2px;
  width: auto;
  height: 500px;
  overflow: hidden;
  background-position: center center;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
 }
 
 .bx-wrapper {
    margin: 0 auto -5px;
 }
 
 .bx-wrapper img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: 500px;
}
 
#bx-pager {
    display: table;
    max-width: 800px;
    margin: 0 auto;
}
#bx-pager > a {
    display: table-cell;
    border: 5px solid transparent;
}
#bx-pager img {
    display: block;
    height: 50px;
    width: 100px;
}

.eimg-thumbnail {
  width: 520px;
  height: 300px;
  overflow: hidden;
  background-position: center center;
  padding: 0;
}

.event-present-image {
  width: 520px;
  height: 300px;
  overflow: hidden;
  background-position: center center;
}

.event-title {
 text-align: center;
 color: #4682B4;
 font-size: 3em;
 text-shadow: 1px 1px 0px #808080;
}

.event-time {
  font-size:2em;
  font-weight: bold;
  color:#666666;
  text-align: center;
}

.venue {
  float:right;
  padding: 20px 300px 20px 0px;
  font-size: 1.5em;
  color: #535353;
  font-weight: bold;
}
.venue-map {
    float: right;
    padding-bottom: 5px;
    padding-right: 180px;
    font-size: 1.2em;
    color: #535353;
    font-weight: bold;
}

.text-center {
  text-align: center;
  clear: both;
}

.show_avatars div {
  position: relative;
  display: inline-block;
}
.right {
  text-align: right;
  padding: 20px 300px 20px 0px;
  font-size: 1.2em;
}

.datepicker {
  width: 150px;
  margin-bottom: 14px;
  margin-right: 8px;
}

.event-text2 {
  font-family: "myriad-pro",sans-serif;
  padding: 5px 240px 15px;
  color: #808080;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 100;
}

.form-inline > .form-group.picker {  /* datetimepicker 横幅 */
  margin: 0px 3px;  
}

.e-img-mini {
    border-radius: 5px;
    width:  50px;
    height: 40px;
    background-position: center center;
}

.me-event {
  margin-left:20px;
}

.datepicker.inline {
  display: inline;
}

.price {
  text-align: center;
  font-size: 1.5em;
  color: #ef4040;
}

/* ticket */
.ticket-image {
  width:100%;
}
.ticket-title {
 text-align: center;
 color: #4682B4;
 font-size: 1.5em;
}
.ticket-time {
  text-align: center;
  color: #535353;
  font-size: 1.3em;
}
.ticket-price {
  color: #535353;
  text-align: right;
  font-size: 1.4em;
  margin: 8px;
  font-weight: 300;
}
.venue-ticket.glyphicon-flag {
 color:#535353;
 text-align: right;
 font-size: 1.3em;
 display: inherit;
}
aside .glyphicon {
  letter-spacing: 0px;
}

.new_booking.people_select_tag {
  width: 50px;
}

.inline-block {
  display: inline-block;
}

.panel-default {
  border-color: #92badd;
}

aside {
 margin-top: 10px;
}

aside span {
 display: inline-block;
}

.well input, textarea, select, .uneditable-input {
  width: 50px;
  margin: 5px;
}
.well {
  font-size:1.2em;
  margin: 10px;
  background-color: #e8f2f9;
  border-radius: 2px;
  border: 0px;
}

.table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th {
  color: #FFF;
  background-color: #2d83ce;
}

.table > tbody + tbody,
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid #92badd;
}

.ticket-button {
  text-align: center;
  margin:10px;
}

@media screen and (max-width: 640px) {
.event-title {
 font-size: 2em;
 text-shadow: 0px 1px 0px #808080;
}
.event-time {
  font-size:1.2em;
}
.price {
  font-size: 1.2em;
}
.venue {
  font-size: 1.2em;
}
}