.card-mypage-container.card {
    width: 90%;
    padding-top: 20px;
}

.me-aside {
 width: 300px;
 margin: 20px;
 /*float: left;*/
 color: #666;
 display: inline-block;
}

.my_profiles {
    font-weight: 600;
    font-size: 1.2em;
}

.mypage_img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-position: center center;
    margin-bottom: 15px;
}

.me-right {
    width: 800px;
    float: right;
    color: #666;
    display: inline-block;
}

.my_events {
    font-weight: 600;
    font-size: 1.2em;
    margin: 20px 0 -20px;
}

.mypage_event_img {
    border-radius: 5px;
    width: 200px;
    height: 100px;
    margin: 0 10px;
    float: left;
}
.me-event-title {
    font-size: 24px;
}

.me-event-time {
    font-size: 18px;
    font-weight: 600;
}

.me-other {
    /*font-size: 18px;*/
}

.all-events {
    font-size: 1.1em;
    padding: 10px;
    margin-bottom: 30px;
}

.remove-image {
    width: 100%;
    color: #666666;
input, textarea, select, .uneditable-input {
    width: initial;
}
}

.toggle-me-edit{
    font-size: 1.2em;
    color: #666666;
.toggle-off.btn {
    padding-left: 19px;
}
}

@media screen and (max-width: 640px) {
.col-sm-6 {
padding-right: 0;
}
    
.me-right {
    width: 100%;
    float: none;
}

.my_events {
    margin: 20px 20px -10px;
}

.my-event-pic {
  text-align: center;
}

.mypage_event_img {
    float: none;
}

.me-other {
    margin: 5px;
}

.toggle-me-edit {
    font-size: 1.1em;
    margin-bottom: 10px;
}

}
