.organizer_photo {
  border-radius: 10%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 200px;
  background-position: center center;
}

.photo-thumbnail {
  border-radius: 10%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 200px;
  background-position: center center;
  padding: 0;
}

.glyphicon-list-alt:before {
    margin: 2px;
}