/* top */
.white-msg {
    font-size: 5em;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0px #808080;
}

.title-text {
  font-size: 2em;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.top-head {
 text-align: center;
 color: #4682B4;
 font-size: 3em;
 text-shadow: 1px 1px 0px #808080;
}

.trim {
  overflow: hidden;
  height: 380px;
  position: relative;
}
.trim img {
  width: 100%;
  height: auto;
  }

.wrap {   /* shadows and rounded borders */
  background-color: #FFFFFF;
  min-height: 400px;
  padding: 10px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.wrap:hover {
    background-color:#FFF;
    filter:alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}

.wrap:hover a {
  color: #FA8072;
}

.hvr-glow {
  display: block;
}

.venue-top.glyphicon-flag{
  font-size: 1.2em;
  color: #4682B4;
  font-weight: bolder;
  float:right;
  margin-bottom: 5px;
}

.event-text {           /* 行数管理 */
   clear:both;
   font-family: "myriad-pro",sans-serif;
   color: #808080;
   font-style: normal;
   font-weight: 100;
   margin-bottom: 7px;
   overflow : hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 8; 
}

.user_avatars {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.arrow_box {
  margin: 8px 0 0 2px;
  display: none;
  position: absolute;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 20px;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

span:hover + p.arrow_box {
  display: block;
  z-index: 1;
}

.gravatar {
  z-index: 0;
}

@media screen and (max-width: 640px) {
.white-msg {
    font-size: 2.5em;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0px #808080;
    padding-top:30px;
    padding-bottom:0;
}
.title-text {
  font-size: 1.3em;
  text-align: center;
  color: #fff;
  margin:10px 0;
}
.trim {
  height: 240px;
}
.event-text {           /* 行数管理 */
   -webkit-line-clamp: 5; 
}
.user_avatars {
  position: static;
  float: right;
}

}