<footer class="footer">
  <div class="container">
     <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li>
                <% subdomain = request.subdomains.first
                lang = (subdomain == 'ja') ? 'English' : '日本語'
                otherdomain = (subdomain == 'ja')? 'en': 'ja' %>
                <%= link_to lang, "http://#{otherdomain}.techacademy-tenra.c9users.io#{request.path}" %>
          </li>
          <li><%= link_to "About us", about_path %></li>
          <li><%= link_to "Contact", '#' %></li>
          
        </ul>
    </nav>
  </div>
</footer>