<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
    
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "日本語" %></li>
                <li><%= link_to "About us", '#' %></li>
                <li><span class="glyphicon glyphicon-user"><%= link_to "Log in", '#' %></span></li>
            </ul>
        </nav>
    </div>
</header>