<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
    
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "日本語" %></li>
                <li><%= link_to "About us", '#' %></li>
                <li>
                    <%= link_to "" do %>
                    <span class="glyphicon glyphicon-user"></span> Log in
                    <% end %>
                </li>
            </ul>
        </nav>
    </div>
</header>